.App {
  background-color: rgb(50, 48, 46);
  width: 100vw;
  height: 200vh;  
  /* overflow: hidden; */
}

.nav {
  background-color: rgb(255, 207, 117);
  margin: 10px 70px 0 70px;
}

.Title {
  text-align: Left;
  color: rgb(87, 87, 87);
  display:flex;  
  margin: 0 0 15px -40px;
  text-decoration:none;  
}

.Logo {
  width:100px;
  height:100px;
}
.userContainer {
  background-color: rgb(117, 208, 224); 
  /* margin: 10px 70px 10px 70px;  */
  padding: 5px 15px 5px 15px;
  font-size: 12px;
}

.taskContainer {  
  display:grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 450px 450px 450px;
  grid-template-columns: repeat(3, 1fr);
  padding:0 0 5px 0;
  grid-column-gap: 40px;
  margin:10px 70px 0 70px;  
}


.statusTitle {
  text-align: center;  
  color: white
}

.tasks{
  background-color: rgb(92, 18, 18);
  display:grid; 
  grid-template-rows: 70px;
  margin: 17px;
  border-radius: 20px;  
}

.taskTitle {
  color:white;
  font-size: 15px;
  padding: 5px 10px 10px 20px;
 
}

.create-Button {
  font-size: 18px;
  background-color: rgb(204, 203, 203);
  border-radius: 10px;
  margin: 20px;
  
}

.Show {
  display:grid;
  grid-auto-columns:1fr;  
  padding:30px 0 10px 0;  
  margin:0 70px 10px 70px; 
}

.ShowTitle {
  background-color: brown;
  padding: 20px;
  width: 700px;
  border-radius: 10px;
  color:white;
  margin: 0 10px 0 0;
  grid-column-start:1;
  grid-column-end:2;
}

.ShowDescription{
  background-color:whitesmoke;
  width: 700px;
  height: 280px;
  border-radius: 10px;
  overflow: scroll;
  padding: 20px;
  grid-column-start:1;
  grid-column-end:2; 
  font-size: 18px; 
}

.DatesStatus{  
  background-color: rgb(201, 201, 201);
  width: 300px;
  padding: 5px;  
  grid-column-start:1;
  grid-column-end:2;
  margin: 5px 0 10px 0;
  font-size: 20px;
}

.Edit{
  display:grid;  
  width: 80px;
  font-size: 20px;
  text-decoration: none;
  font-weight:600;
  padding:5px;
  border-radius: 10px;
  position: absolute;
  margin-top: -150px;
  margin-left: 660px;
}

.Delete{  
  width: 100px;
  font-size: 17px;
  font-weight:600;
  padding:5px;
  border-radius: 10px;
  position: absolute;
  margin-top: 525px;
  margin-left: 640px;
}




.input{
  font-size: 20px;
  padding: 5px;    
}

.inputGap {
  margin: 5px 0 5px 0;
}

.Form {
  background-color: rgb(237, 241, 179);
  margin: 20px 10px 0 70px;
  padding: 20px;
  width: 700px;
  font-size: 20px;
}

.Btn {
  width: 120px;
  font-size: 17px;
  font-weight:600;
  padding:5px;
  border-radius: 10px;
  margin: 0 10px 0 70px;
}

.Desc {
  width: 600px;
  height: 170px;
  font-size: 20px; 
  margin: 5px 0 5px 0;
}



.Title{
  font-size: 20px;
  
}

.accountBtn {
  margin: 2em;
  padding: 1em;
  background-color: rgba(20, 97, 197, 0.637);
  outline: none;
  border: none;
  border-radius: 15px;
  filter: drop-shadow(0 2px 2px grey);
  color: white;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.submitBtn {
  margin: 2em;
  padding: 10px;
  background-color: rgba(131, 16, 45, 0.788);
  outline: none;
  border: none;
  border-radius: 10px;
  filter: drop-shadow(0 2px 2px grey);
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.errorMsg {
  color: darkred;
}

.appFormDiv {
  width: 700px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 2em 2em 6em 2em;
  margin: 2em auto;
  background-color:rgb(173, 230, 181);
  filter: drop-shadow(0 2px 2px darkgrey);
}

.inputForm {
  display: flex;
  flex-direction: column;
}

.formTitle {
  margin: 0 auto 1em auto;
  text-align: center;
}

.textInput {
  padding: .75em;
  font-size: 1.25em;
  margin: .25em;
  border-radius: .25em;
  border-color: rgba(70, 70, 70, .5);
  outline: none;
  filter: drop-shadow(0 1px 1px grey);
  color: darkgrey;
}

.maintitle {
  color:brown;
  font-size: 50px;
}

.introduction {
  color: white;
  font-size: 20px;
}

.yearcontainer {
  background-color: rgb(127, 132, 201);
  width: 400px; 
  margin: 0px 10px 10px 10px;

}

.yeartitle {
  color: white;
}

.years {
  color: white;
}

.logoutBtn{
  width: 120px;
  font-size: 17px;
  font-weight:600;
  padding:5px;
  border-radius: 10px;    
  margin: 100px 40px 0 1750px;
  background-color: rgb(243, 9, 9);
  color:white;
  font-weight:600;  
}

.logoutBtn:hover {
  filter: drop-shadow(0 2px 2px white);
}

.mainpage {
  margin: 10px 200px 20px 200px;
  
}

.addTitles {
  width: 100vw;
  height: 50vh;
  padding: 15px;
  width: 700px;
  border-radius: 10px;
  color:white;
  margin: 0 10px 0 70px;
}


.EditTitle{
  background-color: brown;
  padding: 15px;
  width: 600px;
  border-radius: 10px;
  color:white;
  margin: 0 10px 0 px;
}

.addYear {
  /* color:White; */
  font-size: 25px;
  font-weight: 800;
}
